@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  ::selection {
    background: #49494949;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  firefox-scrollbar-fix {
    scrollbar-width: none;
  }

  html {
    background-color: #ffffff;
  }
  
  body {
    background-color: #ffffff;
  }

  /* .typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    animation:
      typing 3.5s steps(17, end) forwards,
      blink 0.8s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 13ch } 
  }
  
  @keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: white }
  } */
  
  /* GLITCH EFECT */

  /* .glitch-text {
    position: relative;
    color: white;
  }
  
  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  
  .glitch-text::before {
    animation: glitchTop 2s infinite linear alternate-reverse;
    color: #f0f;
  }
  
  .glitch-text::after {
    animation: glitchBottom 2s infinite linear alternate-reverse;
    color: #0ff;
  }
  
  @keyframes glitchTop {
    0% { clip: rect(0, 9999px, 0, 0); }
    10% { clip: rect(0, 9999px, 10px, 0); }
    20% { clip: rect(0, 9999px, 0, 0); }
    30% { clip: rect(10px, 9999px, 20px, 0); }
    100% { clip: rect(0, 9999px, 0, 0); }
  }
  
  @keyframes glitchBottom {
    0% { clip: rect(0, 9999px, 0, 0); }
    10% { clip: rect(5px, 9999px, 15px, 0); }
    20% { clip: rect(0, 9999px, 0, 0); }
    30% { clip: rect(15px, 9999px, 25px, 0); }
    100% { clip: rect(0, 9999px, 0, 0); }
  }
   */

  @keyframes smoothFadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-5 {
    animation: smoothFadeInUp 0.5s cubic-bezier(0,-0.02,.49,.99) 0.1s both;
  }
  
  .animate-7 {
    animation: smoothFadeInUp 0.5s cubic-bezier(0,-0.02,.49,.99) 0.3s both;
  }
  
  .animate-10 {
    animation: smoothFadeInUp 0.5s cubic-bezier(0,-0.02,.49,.99) 0.5s both;
  }

  .animate-13 {
    animation: smoothFadeInUp 0.5s cubic-bezier(0,-0.02,.49,.99) 0.7s both;
  }

  .animate-15 {
    animation: smoothFadeInUp 0.5s cubic-bezier(0,-0.02,.49,.99) 1s both;
  }
}




